/notebooks/pretrained_checkpoints/*
/notebooks/pytorch-yolox-object-detector/*
/notebooks/.ipynb_checkpoints/*
/notebooks/*.ttf
/notebooks/*.jpg
/notebooks/*.png
/notebooks/*.onnx
/notebooks/__pycache__/*


# Image file formats
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.webp
*.psd
*.ai
*.eps

# Video file formats
*.avi
*.mp4
*.mpeg
*.mpg
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.ogv
*.m4v
*.3gp
*.3g2
