/notebooks/pretrained_checkpoints/*
/notebooks/pytorch-yolox-object-detector/*
/notebooks/.ipynb_checkpoints/*
/notebooks/*.ttf
/notebooks/*.jpg
/notebooks/*.png
/notebooks/*.onnx
/notebooks/__pycache__/*
